/third_robot/third_robot_gmapping/map/20151006_ctrl_building.yaml~
/third_robot/third_robot_lower_step_detector/bag_files/autorun.bag
/third_robot/third_robot_2dnav/map/*
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# pycharm
workspace.xml

#QtCreator
CMakeLists.txt.user
/third_robot/third_robot_nav_goals/waypoints/201511042000.csv~
/Document/Report/tc2015_report.aux
/Document/Report/tc2015_report.dvi
/Document/Report/tc2015_report.fdb_latexmk
/Document/Report/tc2015_report.log
/Document/Report/tc2015_report.synctex.gz
