<launch>
    <include file="$(find third_robot_talker)/launch/third_robot_talker.launch">
	</include>

  <node pkg="third_robot_nav_goals" 
		type="third_robot_send_goals_and_detect" 
		name="third_robot_send_goals_and_detect"
		output="screen">
    <param name="start_target_num" value="0" />
    <!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/waypoints_test2.csv" /> -->
    <!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/monotsukuri141102.csv" /> -->

	<!-- Tsukuba Challenge 2014 -->
    <!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/tukutyare141110-2.csv" /> -->
    <!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/tukutyare141110-7.csv" /> -->
    <!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/ctrl_building.csv" /> -->
	<!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/201510210032-multi-scan.csv" /> -->
	<param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/201510232300-multi-scan.csv" />


	<!-- Tukuba Kenshu Center -->
    <!-- <param name="waypointsfile" value="$(find third_robot_nav_goals)/waypoints/kenshu_center.csv" /> -->
  </node>
</launch>
