<launch>

  <!-- Run the map server -->
  <node name="map_server" 
  		pkg="map_server" 
		type="map_server" args="$(find third_robot_2dnav)/map/tsukuba_oshimizu141114-2.yaml" />
  
  <node pkg="waypoints_saver" 
		type="waypoints_saver" 
		name="waypoints_saver"
		output="screen">
    <param name="savewaypointsfile" value="$(find third_robot_nav_goals)/waypoints/tsukuba_oshimizu141114-2_nishida.csv " />
  </node>
  
</launch>
