/template.aux
/template.dvi
/template.fdb_latexmk
/template.log
/template.pdf
/template.synctex.gz
/figure/example_meanshift/data.dat
/figure/example_meanshift/example_meanshift.ods
/figure/example_meanshift/meanshift.pdf
/figure/example_meanshift/meanshift.xbb
/figure/example_multimodal/comparison_of_mmse_and_map_estimates.pdf
/figure/example_multimodal/comparison_of_mmse_and_map_estimates.xbb
/figure/example_multimodal/comparison_of_mmse_and_map_estimates_edit.pdf
/figure/example_multimodal/comparison_of_mmse_and_map_estimates_edit.xbb
/figure/multisensor_estimation/epvgm.xbb
/figure/multisensor_estimation/histgram-18.pdf
/figure/multisensor_estimation/histgram-18.xbb
/figure/multisensor_estimation/histgram-20.pdf
/figure/multisensor_estimation/histgram-20.xbb
/figure/multisensor_estimation/kmap.pdf
/figure/multisensor_estimation/kmap.xbb
/figure/multisensor_estimation/all.pdf
/figure/multisensor_estimation/cluster_18.pdf
/figure/multisensor_estimation/diff.pdf
/figure/multisensor_estimation/epvgm.pdf
/figure/multisensor_estimation/maxweight.pdf
/figure/multisensor_estimation/maxweight.xbb
/figure/multisensor_estimation/meanshift.xbb
/figure/multisensor_estimation/ml.pdf
/figure/multisensor_estimation/mmse.pdf
/figure/multisensor_estimation/mmse.xbb
/figure/multisensor_estimation/particles-18.xbb
/figure/multisensor_estimation/particles-20.pdf
/figure/multisensor_estimation/particles-20.xbb
/figure/multisensor_estimation/pfmap.pdf
/figure/multisensor_estimation/pfmap.xbb
/figure/multisensor_estimation/true-obs.pdf
/figure/multisensor_estimation/true-obs.xbb
/figure/nonlinear_estimation/all.pdf
/figure/nonlinear_estimation/cluster_59.pdf
/figure/nonlinear_estimation/diff.pdf
/figure/nonlinear_estimation/epvgm.pdf
/figure/nonlinear_estimation/epvgm.xbb
/figure/nonlinear_estimation/histgram-19.pdf
/figure/nonlinear_estimation/histgram-19.xbb
/figure/nonlinear_estimation/histgram-59.pdf
/figure/nonlinear_estimation/histgram-59.xbb
/figure/nonlinear_estimation/kmap.pdf
/figure/nonlinear_estimation/kmap.xbb
/figure/nonlinear_estimation/maxweight.pdf
/figure/nonlinear_estimation/maxweight.xbb
/figure/nonlinear_estimation/meanshift.pdf
/figure/nonlinear_estimation/meanshift.xbb
*.pdf
/graph/nonlinear_estimation/histgram/histgram.pdf
/graph/multisensor_estimation/histgram/histgram.pdf
/figure/nonlinear_multisensor_estimation/true-obs.xbb
/figure/nonlinear_multisensor_estimation/true-obs.pdf
/figure/nonlinear_estimation/ml.pdf
/figure/nonlinear_estimation/mmse.pdf
/figure/nonlinear_estimation/mmse.xbb
/figure/nonlinear_estimation/particles-19.pdf
/figure/nonlinear_estimation/particles-19.xbb
/figure/nonlinear_estimation/particles-59.pdf
/figure/nonlinear_estimation/particles-59.xbb
/figure/nonlinear_estimation/pfmap.pdf
/figure/nonlinear_estimation/pfmap.xbb
/figure/nonlinear_estimation/true-obs.pdf
/figure/nonlinear_estimation/true-obs.xbb
/figure/nonlinear_multisensor_estimation/all.pdf
/figure/nonlinear_multisensor_estimation/densities-50.pdf
/figure/nonlinear_multisensor_estimation/diff.pdf
/figure/nonlinear_multisensor_estimation/epvgm.pdf
/figure/nonlinear_multisensor_estimation/epvgm.xbb
/figure/nonlinear_multisensor_estimation/histgram-37.pdf
/figure/nonlinear_multisensor_estimation/histgram-37.xbb
/figure/nonlinear_multisensor_estimation/histgram-40.pdf
/figure/nonlinear_multisensor_estimation/histgram-50.pdf
/figure/nonlinear_multisensor_estimation/histgram-50.xbb
/figure/nonlinear_multisensor_estimation/histogram-40.xbb
/figure/nonlinear_multisensor_estimation/kmap.pdf
/figure/nonlinear_multisensor_estimation/kmap.xbb
/figure/nonlinear_multisensor_estimation/maxweight.pdf
/figure/nonlinear_multisensor_estimation/maxweight.xbb
/figure/nonlinear_multisensor_estimation/meanshift.pdf
/figure/nonlinear_multisensor_estimation/meanshift.xbb
/figure/nonlinear_multisensor_estimation/ml.pdf
/figure/nonlinear_multisensor_estimation/mmse.pdf
/figure/nonlinear_multisensor_estimation/mmse.xbb
/figure/nonlinear_multisensor_estimation/particles-37.pdf
/figure/nonlinear_multisensor_estimation/pfmap.pdf
/figure/nonlinear_multisensor_estimation/pfmap.xbb
/figure/nonlinear_multisensor_estimation/particles-37.xbb
/figure/nonlinear_multisensor_estimation/particles-40.pdf
/figure/nonlinear_multisensor_estimation/particles-40.xbb
/figure/nonlinear_multisensor_estimation/particles-50.pdf
/figure/nonlinear_multisensor_estimation/particles-50.xbb
/figure-eps/
/figure/nonlinear_estimation/epvgm.eps
/figure/nonlinear_estimation/histgram-19.eps
/figure/nonlinear_estimation/histgram-59.eps
/figure/nonlinear_estimation/kmap.eps
/figure/nonlinear_estimation/maxweight.eps
/figure/nonlinear_estimation/mmse.eps
/figure/nonlinear_estimation/particles-19.eps
/figure/nonlinear_estimation/particles-59.eps
/figure/nonlinear_estimation/pfmap.eps
/figure/nonlinear_estimation/true-obs.eps
/arita.tex~
